
*.dat
*.hea
*.wav
*.csv

data/training-a/.MD5SUMS-
data/training-a/.newsums
data/training-a/.oldsums
data/training-a/.SHA1SUMS-
data/training-a/.SHA256SUMS-
data/training-a/MD5SUMS
data/training-a/RECORDS
data/training-a/RECORDS-abnormal
data/training-a/RECORDS-normal
data/training-a/SHA1SUMS
data/training-a/SHA256SUMS
data/training-b/.MD5SUMS-
data/training-b/.newsums
data/training-b/.oldsums
data/training-b/.SHA1SUMS-
data/training-b/.SHA256SUMS-
data/training-b/MD5SUMS
data/training-b/RECORDS
data/training-b/RECORDS-abnormal
data/training-b/RECORDS-normal
data/training-b/SHA1SUMS
data/training-b/SHA256SUMS
data/training-c/MD5SUMS
data/training-c/RECORDS
data/training-c/RECORDS-abnormal
data/training-c/RECORDS-normal
data/training-c/SHA1SUMS
data/training-c/SHA256SUMS
data/training-d/MD5SUMS
data/training-d/RECORDS
data/training-d/RECORDS-abnormal
data/training-d/RECORDS-normal
data/training-d/SHA1SUMS
data/training-d/SHA256SUMS
data/training-e/.MD5SUMS-
data/training-e/.newsums
data/training-e/.oldsums
data/training-e/.SHA1SUMS-
data/training-e/.SHA256SUMS-
data/training-e/MD5SUMS
data/training-e/RECORDS
data/training-e/RECORDS-abnormal
data/training-e/RECORDS-normal
data/training-e/SHA1SUMS
data/training-e/SHA256SUMS
data/training-f/.MD5SUMS-
data/training-f/.newsums
data/training-f/.oldsums
data/training-f/.SHA1SUMS-
data/training-f/.SHA256SUMS-
data/training-f/MD5SUMS
data/training-f/RECORDS
data/training-f/RECORDS-abnormal
data/training-f/RECORDS-normal
data/training-f/SHA1SUMS
data/training-f/SHA256SUMS
